html {
  margin: 40px;
  color:#0F3B89 ;
}
body {
	font-family: "Helvetica";
	font-size: 12px;
}
table {
	border: 1px solid #FFFFFF;
}

img{
	width:200;
	height:60;
}
.cabecera , .pie{
	margin: 10px 0px;
}
.fnt18 {
	font-size: 18px;
	font-weight: bold;
}
.fnt16 {
	font-size: 16px;
	font-weight: bold;
}

#circ {
    
    color: white;
    text-align: center;
    background-color: #3698BD;  
    border:1px solid #3698BD;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;	
    border-radius:10px; 
    height: 2px;
    width: 65px;
}

fieldset{
	/*border-color:#337DFF; 	*/
	border:1px solid #337DFF;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;	
    border-radius:8px;
}

 .cabeceraTabla{
	color: white;
    text-align: center;
    background: #337DFF;
}

.pie{
    padding-top: 40;
    padding-left: 20;    
    width: 160px;
}


