<span style='color: #000' title='Frames'>   224</span><span style='color: #009' title='Memory'>  29696.00 KB</span><span style='color: #900' title='Time'>    698.93 ms</span><span  title='Quirksmode'>  <span style='color: #d00'> ON</span></span><br />